.register__form {
    display: grid;
    text-align: center;
    padding: 1rem;
}

.register__form--title {
    text-align: center;
}

@media(min-width: 30rem) {
    .register__form {
        justify-content: center;
        align-content: center;
    }
}