.footer {
    text-align: center;
    background: #333 !important; 
    color: #ddd !important;
    display: flex;
    line-height: 0.1;
    align-content: center;
    justify-content: center;
    height: 10%;
}
