.header {
    background: #fff !important;
    padding: 0;
}

.header__nav {
    display: flex;
}

.header__menu, .header__join {
    vertical-align: middle;
    margin: 0 !important;
    padding: 0 !important;
    line-height: 64px !important;
    border: 0 !important;
}

.ant-menu > .ant-menu-item {
    border: 0 !important;
}

.header__menu > *, .header__join > * {
    line-height: 64px !important;
    border: 0px;
}

.header__menu {
    display: none;
}

.header > nav > .ant-menu > .ant-menu-item > a, .header a {
    color: inherit !important;
    border: 0;
}

.header a:active,
.header a:hover,
.header a:focus {
    text-decoration: none !important;
}

.header__nav--brand {
    margin-right: auto;
    font-weight: bold;
    font-size: 1.2rem;
}

@media(min-width: 40rem) {
    .header__menu {
        display: block;
    }
    .header__join {
        display: none;
    }
}
