.register_form {
    display: grid;
    grid-gap: 10px;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin: 0;
    padding: 0;
}

.register_form > * {
    margin: 0;
}

.register_form button {
    margin-top: 0.75rem;
}

.register_form--title {
    text-align: center;
}

.register_form > p {
    font-style: italic;
}

.register_form > a {
    font-weight: bold;
}

@media(min-width: 30rem) {
    .register_form {        
        width: 20rem;
        margin: auto;
        justify-content: stretch;
    }
}
