.header {
    background: #fff !important;
    padding: 0;
}

.header__nav {
    display: flex;
}

.header__menu {
    vertical-align: middle;
    margin: 0 !important;
    padding: 0 !important;
    display: none;
    line-height: 64px !important;
}

.header a {
    color: inherit;
    border: 0;
}

.header a:active,
.header a:hover,
.header a:focus {
    text-decoration: none !important;
}

.header__nav--brand {
    margin-right: auto;
    font-weight: bold;
    font-size: 1.2rem;
}

.header__drawer--toggle {
    cursor: pointer;
    display: block;
    font-size: 1.1rem;
}

.mobile__menu {
    margin: 0 !important;
    padding: 0 !important;
    border: 0 !important;
    text-align: center;
}

.mobile__menu a {
    color: inherit;
    border: 0;    
}

.logo {
    background: url(/static/logo.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 6rem;
    height: 6rem;
    margin: auto;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
    display: block;
}

@media(min-width: 40rem) {
    .header__menu {
        display: block;
    }

    .header__drawer--toggle {
        display: none;
    }    

    .logo {
        display: none;
    }
}
