.login_form {
    display: grid;
    grid-gap: 10px;
    text-align: center;
    padding: 1rem;
    margin: 0;
    padding: 0;
}

.login_form--title {
    text-align: center;
}

.login_form > * {
    margin: 0;
}

.login_form button {
    margin-top: 0.75rem;
}

.login_form > a {
    font-weight: bold;
}

@media(min-width: 30rem) {
    .login__form {        
        width: 20rem;
        margin: auto;
        justify-content: stretch;
        align-content: center;
    }
}
