.question_card {
	display: flex;
	flex-direction: column;
	margin-top: 10px;
	margin-bottom: 25px;
	background-color: #3D7667;
	border: 0px;
	color: white;
}

.question_card__meta__title {
	margin: 0px;
	color: white;
}

.question_card__body {
	padding-top: 10px;
}

.question_card__meta__creation, .question_card__tags {
	color: rgb(180, 180, 180);
}

.question_card__tags {
	padding-top: 20px;
}
