.search_input {
    display: block;
    width: 85%;
    margin: 0 auto;
}

.search_input--title {
    text-align: center;
}

.search_input__tag_select {
    padding-top: 10px;
}

@media(min-width: 700px) {
    .search_input {
        width: 35%;
    }
}
